body {
  background-color: lightblue;
}

textarea {
  resize: none;
}

.body {
  background: green;
}

.searchBar {
    width: 400px;
}

.center {
    text-align: center;
    font-size: 18px;
    font-family: "Times New Roman", Times, serif;
}

.login {
    text-align: initial;
    position: absolute;
    top: 5px;
    right: 10px;
}

