<head>
<link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
</head>

<form action="/add-data" method="POST">
    <p>Lisää uusi kategoria:<br>
        <input name="category" type="text"></p>
    <input type="submit" value="Lisää">
    <br>
    <p>Lisää uusi aika:<br>
        <input name="time" type="text"></p>
    <input type="submit" value="Lisää">
    <br>
    <p>Lisää uusi hinta:<br>
        <input name="price" type="text"></p>
    <input type="submit" value="Lisää">
    <br>

</form>

<a href="/">Takaisin etusivulle </a>