<head>
        <link href="{{url_for('static',filename='styles.css')}}" rel="stylesheet">
    </head>
<div class="center">
    
    <title>Reseptiverkko</title>
    <h1>Reseptiverkko</h1>
    <b>Tervetuloa</b> <i>reseptiverkkoon</i>!
    <p> Tällä sivulla voit jakaa reseptejä muille.</p>


    <!-- If user is not loggied in, show "Kirjaudu" and "Register" button -->
    <div class="login">
        {% if not session.username %}
        <p></p>
        <a href="/login">Kirjaudu</a>
        <br>
        <a href="/register">Rekisteröidy</a>
        {% endif %}
        <!-- If logged in, show users name -->
        {% if session.username %}
        <p>Kirjautunut: {{ session.username }}</p>
        <a href="/logout">Kirjaudu ulos</a>
        {% endif %}
    </div>


    <!-- Recipe searchbar and search -->
    <form action="/result" method="GET">
        <p>Hae reseptiä:</p>
        <input name="query" size="50" type="text">
        <input type="submit" value="Lähetä">
        <p></p>
    </form>
    <p></p>

    <!-- Create recipe button -->
    {% if session.username %}
    <a href="/new-recipe">Lisää resepti</a>
    {% endif %}
    <p></p>

    <!-- Look different recipes -->
    <a href="/recipes">Reseptit</a>
    <p></p>

</div>