<head>
<link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
</head>

<div class="center">
<h1> Kirjautuminen </h1>


{% if session.username %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<a href="/logout">Kirjaudu ulos</a>
{% else %}

{% if wrong_input %}
    Käyttäjätunnus ja salasana eivät täsmää!
{% endif %}

<form action="/loginTRUE" method="POST">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <p>Tunnus:<br>
        <input name="username" required type="text"></p>
    <p>Salasana:<br>
        <input name="password" required type="password"></p>
    <input type="submit" value="Kirjaudu">
</form>
{% endif %}
<b></b>
<a href="/">Takaisin etusivulle</a>
</div>