<div class="center">
<head>
<link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
</head>

{% if session.username %}
<form action="/add-recipe" method="POST">
    Reseptin nimi:
    <br> </br>
    <textarea cols="80" name="name" rows="1"></textarea>
    <br> </br>
    {% for value in categories %}
        <input name="category" type="checkbox" value={{ value.category }}> {{ value.category }}
    {% endfor %}

    <br></br>
    {% for value in prices %}
        <input type="radio" name ="price" value={{ value.price }}> {{ value.price }}
    {% endfor %}

    <br></br>

    {% for value in times %}
        <input type="radio" name ="price" value={{ value.time }}> {{ value.time }}
    {% endfor %}

    <br></br>
    <textarea cols="80" name="recipe" rows="32"></textarea>
    <br></br>
    <input type="submit" value="Lähetä">
    <a href="/">Takaisin</a>
</form>
{% endif %}

{% if not session.username %}
<p> Lisätäksesi reseptin, kirjauduthan sisään ensin. </p>
<a href="/login">Kirjaudu</a>
<br>
<p> Mikäli sinulla ei ole käyttäjää, voit alta. </p>
<a href="/register">Rekisteröidy</a>
{% endif %}
</div>