<head>
<link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
</head>

<div class="center">
<h1> Rekisteröityminen </h1>

{% if session.username %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<a href="/logout">Kirjaudu ulos</a>
{% else %}

{% if virhe %}
    Käyttäjätunnus tai salasana virheellinen
{% endif %}

<form action="/registerTRUE" method="POST">
    <p>Tunnus:<br>
        <input name="username" type="text"></p>
    <p>Salasana:<br>
        <input name="password" type="password"></p>
    <input type="submit" value="Rekisteröidy">
</form>
    <br>
    Käyttäjänimen tulee olla vähintään 4 merkkiä ja salasanan vähintään 5 merkkiä.
{% endif %}
<a href="/">Takaisin etusivulle</a>
</div>

